<h3>Students</h3>

<p><% @students.each do |s| %>
    <p><b><%= link_to s.name, '/teachers/' + @teacher.id.to_s + '/students/' + s.id.to_s  %></b> - <% s.courses.each do |c| %>
            <%= c.title %> &nbsp
        <% end %>
    <% end %>
    </p>

<p><%= link_to "Create a New Student", new_teacher_student_path(@teacher) %></p>
