<h1>Course Name: <%= @course.title %></h1>
<P># of students: <%= @course.students.count %>
<% teacher_name = @course.teacher.name %>
<P>Teacher: <%= link_to teacher_name, teacher_path(@course.teacher)  %>



